<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.turismoreal">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_iconoprincipal"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_iconoprincipal_round"
        android:supportsRtl="true"
        android:theme="@style/SplashScreen"
        android:usesCleartextTraffic="true"
        android:screenOrientation="locked"
        tools:targetApi="31">
        <activity
            android:name=".staff.InventoryList"
            android:screenOrientation="locked"
            android:exported="false" />
        <activity
            android:name=".staff.CheckList"
            android:screenOrientation="locked"
            android:exported="false" />
        <activity
            android:name=".staff.ReservationExtraServices"
            android:screenOrientation="locked"
            android:exported="false" />
        <activity
            android:name=".staff.CheckOut"
            android:screenOrientation="locked"
            android:exported="false" />
        <activity
            android:name=".staff.CheckIn"
            android:screenOrientation="locked"
            android:exported="false" />
        <activity
            android:name=".staff.CheckOutMenu"
            android:screenOrientation="locked"
            android:exported="false" />
        <activity
            android:name=".staff.CheckInMenu"
            android:screenOrientation="locked"
            android:exported="false" />
        <activity
            android:name=".administrator.AddProduct"
            android:screenOrientation="locked"
            android:exported="false" />
        <activity
            android:name=".administrator.AddDepartmentInventory"
            android:screenOrientation="locked"
            android:exported="false" />
        <activity
            android:name=".administrator.MaintenanceRegister"
            android:screenOrientation="locked"
            android:exported="false" />
        <activity
            android:name=".administrator.DepartmentDetail"
            android:screenOrientation="locked"
            android:exported="false" />
        <activity
            android:name=".administrator.AddDepartment"
            android:screenOrientation="locked"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".administrator.DepartmentPage"
            android:screenOrientation="locked"
            android:exported="false"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".administrator.AddExtraService"
            android:screenOrientation="locked"
            android:exported="false" />
        <activity
            android:name=".administrator.ExtraServicePage"
            android:screenOrientation="locked"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:screenOrientation="locked"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LandingPage"
            android:screenOrientation="locked"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:screenOrientation="locked"
            android:exported="false" />
    </application>

</manifest>